---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hey there!</h1>
      <p>Welcome to my personal development blog!</p>
      <p>
        Few things that I'm currently working on:
        <ul>
          <li>
            <a href="https://github.com/JesterSe7en/Aria">Aria Game Engine</a> -
            heavily modified from TheCherno's game engine series
          </li>
          <li>
            This blog site -- <a href="https://github.com/JesterSe7en/skyfall"
              >Source</a
            >
          </li>
          <li>
            <a href="https://github.com/JesterSe7en/vulkan-rs"
              >Exploratory implementation of Vulkan & GLFW using Rust</a
            >
          </li>
        </ul>
      </p>
    </main>
    <Footer />
  </body>
</html>
